body {
    background-color: #000000;
    margin: auto;
}
.logoclub img {
    position: absolute;
    width: 200px;
    height: 270px;
    top: 20%;
    left: 35%;
    margin-top:-50px;
    margin-left:-50px;
}
.erro {
   color: red;
}
#foot {
    position: relative;
    display: none;
    width: 100%;
    margin-top: 150px;
}
#foot input {
    position: absolute;
    height: 40px;
    float: left;
    width: 100%;
    font-weight: bolder;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.09);
    border: none;
    color: white;
}
